{% extends 'baseTemplates/base.html'%}
{% block start %}
    
<div class="wrapper register">
    <a href="index.html"><span class="icon-close"><ion-icon name="close-outline"></ion-icon></span></a>
<form action="" method="post">
{% csrf_token %}

<h2>Registration</h2>
{% include 'baseTemplates/alert.html'%}

<div class="input-box">
    <span class="icon"><i class='bx bx-user'></i></span>
    <input type="text" name="firstname" required>
    <label>firstname</label>
</div>

<div class="input-box">
    <span class="icon"><i class='bx bx-envelope'></i></span>
    <input type="email" name="email" required>
    <label>Email</label>
</div>
<div class="input-box">
    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
    <input type="password" name="password" required>
    <label>Password</label>
</div>
<a href=""><button type="submit" class="btn">Register</button></a>
<div class="login-register">
  <p>Already have an account?<a href="{% url 'login'%}" class="register-link"><button class="btn">Login</button>
    
   </a>
  </p>
 </div>
</form>
</div>
{% endblock %}